
@import "var.scss";
@import "global.scss";
.container{
    margin-top: 70px;
    padding-top: 20px;
    // > ul {
    //   width: 100%;
    //   padding-bottom: 50px;
    //   > li{
    //     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    //     display: block;
    //     height: 50px;
    //     line-height: 50px;
    //     text-indent: 20px;
    //     cursor: pointer;
    // }
  //}
  .title{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 80px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    > span{
      font-size:12px;
      color:rgba(0, 0, 0, 0.295);
    }
    .bar{
      height: 16px;
      width: 150px;
      border-radius:16px;
      margin: 0 5px;
      position: relative;
      background:rgba(187, 187, 187, 0.267) ;
      .now{
        position: absolute;
        height: 100%;
        width: 50%;
        border-radius: 16px;
        
        background: linear-gradient(45deg,#8ce2fa 25%, rgba(252, 103, 153, 0.603) 0,rgba(252, 103, 153, 0.603) 50%,#8ce2fa 0,#8ce2fa 75%, rgba(252, 103, 153, 0.603) 0);
        background-size: 20px 20px;
      }
    }
  }
  .func{
    display: flex;
    align-items: center;
    height: 60px;
    padding:0 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .delete{
      cursor: pointer;
      padding: 0 10px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      width: 100px;
      border-radius: 10px;
      color: rgb(139, 136, 136);
      background: $color-white;
      &:hover{
        color: #000;
        background:rgb(225, 226, 226);
      }
    }
  }
  .add{
    cursor: pointer;
    padding: 0 10px;
    margin-right: 50px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 100px;
    border-radius: 10px;
    color: #fff;
    background:rgb(10, 173, 238) ;
    &:hover{
      background:rgb(0, 160, 223) ;
    }
  }

}
// .pagination {
//   display: flex;
//   justify-content: center;
//   margin-top: 10px;
// }
// .song-item{
//     display: flex;
//     justify-content: flex-start;
//     align-items: stretch;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     width: 100%;
//     .item-select{
//       width: 5%;
//     }
//     .item-index {
//       width: 5%;
//     }
//    .item-title {
//       width: 15%;
//     }
//    .item-name {
//       width: 15%;
//     }
//   .item-intro {
//       width: 25%;
//     }
//     .item-format{
//       width: 15%;
//     }
//     .item-size{
//       width: 10%;
//     }
//     .item-time{
//       width: 10%;
//     }
    
// }
// .list-content .song-item{
//   background: $color-white;
// }
// .list-content .song-item:hover{
//   background: #f4eaff;
// }

.is-play {
  color: $color-blue-active;
  font-weight: bold;
}
.icon {
  @include icon(1.3em, $color-blue-active);
  vertical-align: -0.3em;
  right: 5px;
}

/deep/ .el-table__body-wrapper::-webkit-scrollbar-button {
  display: none;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
/deep/ .el-table__body-wrapper::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
/deep/ .el-table__body-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
/deep/ .el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* height: 30px; */
  background-color: rgb(165, 162, 162);

}

/deep/ .el-table__body-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgb(131, 124, 124);
}
.fun-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

.fun-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #0000008f;
  z-index: 10;


}

.fun-container .fun {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.fun-container .fun .fun-name {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color:  #ffffffe8;
  text-align: center;
  height: 30px;
  line-height: 30px;

}

.fun-container .fun .fun-name:hover {
  background-color: #0000003b;
}
